.productSin{
    padding: 25px;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 1);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .images{
        width: 53%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .current{
            width: 75%;
            height: 100%;
            border-radius: 6px;
        }

        .images-list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 22%;
            height: 100%;


            .currentImage{
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                width: 90px;
                height: 90px;
                border-radius: 6px;
            }
        }
    }

    .info{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 15px;

        .title{
            font-size: 18px;
            font-weight: 500;
            color: rgba(246, 246, 247, 1);
        }
        .price{
            font-size: 18px;
            font-weight: 700;
            color: rgba(246, 246, 247, 1);
        }
        .color{
            display: flex;
            grid-gap: 10px;
            font-size: 14px;
            font-weight: 500;
            color: rgba(246, 246, 247, 1);
            span{
                font-size: 14px;
                font-weight: 500;
                color: rgba(87, 96, 103, 1);
            }
        }
        .sizes{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 150px;

            span{
                font-size: 14px;
                font-weight: 500;
                color: rgba(87, 96, 103, 1);
            }

            .list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100px;

                .size{
                    cursor: pointer;
                    width: 30px;
                    height: 20px;
                    border-radius: 4px;
                    background-color: rgba(33, 33, 35, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(246, 246, 247, 1);
                }

                .active{
                    width: 30px;
                    height: 20px;
                    border-radius: 4px;
                    background-color: rgba(108, 62, 184, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(246, 246, 247, 1);
                }
            }
        }
        .description{
            max-width: 338px;
            font-size: 12px;
            font-weight: 500;
            color: rgba(184, 184, 184, 1);
        }
        .actions{
            width: 320px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add{
                cursor: pointer;
                width: 140px;
                height: 100%;
                background-color: rgba(108, 62, 184, 1);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid rgba(108, 62, 184, 1);
                font-size: 16px;
                font-weight: 600;
                color: rgba(255, 255, 255, 1);
                transition: .3s all;

                &:hover{
                    border: 2px solid rgba(255, 255, 255, 1);
                    background-color: rgba(25, 25, 25, 1);

                }
            }

            .favourite{
                cursor: pointer;
                width: 160px;
                height: 100%;
                background-color: rgba(87, 96, 103, 1);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid rgba(87, 96, 103, 1);
                font-size: 16px;
                font-weight: 600;
                color: rgba(184, 184, 184, 1);
                transition: .3s all;

                &:hover{
                    border: 2px solid rgba(108, 62, 184, 1);
                    background-color: rgba(25, 25, 25, 1);
                    color: rgba(108, 62, 184, 1);
                }
            }
        }

        .bottom{
            margin-top: 100px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            .purchase{
                color: rgba(87, 96, 103, 1);
                font-size: 10px;
                font-weight: 500;
            }

            a{
                font-size: 10px;
                font-weight: 500;
                color: rgba(87, 96, 103, 1);
                text-decoration: underline;
            }
        }
    }
}